@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

:root {
    /* Obsidian & Ash Palette */
    --color-obsidian: #050505;
    /* Deepest Black-Grey */
    --color-charcoal: #1a1a1a;
    /* Soft Black */
    --color-ash: #e5e5e5;
    /* Off-White/Grey */
    --color-stone: #a1a1aa;
    /* Muted Grey */
    --color-gold: #c7a04f;
    /* Subtle muted gold/bronze for tiny accents */
}

@theme inline {
    --color-obsidian: var(--color-obsidian);
    --color-charcoal: var(--color-charcoal);
    --color-ash: var(--color-ash);
    --color-stone: var(--color-stone);
    --color-gold: var(--color-gold);

    --font-sans: var(--font-inter);
    --font-serif: var(--font-cinzel);
}

body {
    background-color: var(--color-obsidian);
    color: var(--color-ash);
    font-family: var(--font-sans);
}

/* Utilities for texturizing */
/* Optimized Static Noise */
.texture-noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 50;
    opacity: 0.05;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    /* Performance Fixes */
    transform: translateZ(0);
    backface-visibility: hidden;
}